<!--DOCTYPE html -->
<html>
<head>
  <meta charset="utf-8">
  <title>Google Cloud Platform User Group Taiwan</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/public/css/main.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
  <!--[if lt IE 9]>
  <script src="/public/js/html5shiv.js"></script>
  <script src="/public/js/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<div id="page" class="page">

  <!-- /.item --><!-- /.item --><!-- /.item --><!-- /.footerWrapper -->
  <div class="item header padding-bottom-0" id="header2">

    <div class="wrapper">

      <div class="container">

        <nav role="navigation" class="navbar plain">
          <div class="navbar-header">
            <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button"
                    data-selector="Footers">
              <span class="sr-only">Toggle navigation</span>
            </button>

            <a href="/#">
              <img alt="GCPUG.TW" src="/public/images/gcpug-logo.png"
                   style="height: 95px; float: left; margin: 0px 10px 10px 0px;">
            </a>
          </div>

          <div id="navbar-collapse-02" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active propClone"><a href="/#" data-selector="Footers">Home</a></li>
              <li class="propClone"><a href="https://github.com/gcpug-tw" data-selector="Footers">Github</a></li>
              <li class="propClone"><a href="http://gcpugtw.kktix.cc/" data-selector="Footers">Events</a></li>
              <li class="propClone"><a href="http://blog.gcpug.tw/" data-selector="Footers">Blog</a></li>
              <li class="propClone"><a href="mailto:gcpug.tw@gmail.com" data-selector="Footers">Contact</a></li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </nav>

      </div>
      <!-- /.container -->

    </div>
    <!-- /.wrpaper -->

    {% block top_widget %}{% endblock %}
  </div>
  <!-- /.wrapper -->

  {% block content %}{% endblock %}


</div>
<!-- /#page -->


</body>
</html>