{% extends "base.html" %}

{% block top_widget %}
<header class="wrapper grey">

  <div class="container">

    <div class="row banner2">

      <div class="col-md-12">

        <h1 class="editContent" data-selector="Footers" style="outline: none; cursor: default;">Google Cloud
          Platform User Group Taiwan</h1>

        <p class="editContent" data-selector="Footers" style="outline: none; cursor: default;">我們是Google Cloud
          Platform Taiwan User Group。在Google雲端服務在台灣地區展露頭角之後，有許多新的服務、新的知識、新的創意，歡迎大家一起分享，一起了解Google雲端服務...<br
              style="line-height: 22.3999996185303px;"><br style="line-height: 22.3999996185303px;">
          GCPUG透過網際網路串聯喜好Google Cloud的使用者，分享與交流使用GCP的點滴鑑驗。如果您是Google Cloud Platform的初學者，您應該來聽聽前輩們的使用經驗；如果您是Google
          Cloud Platform的Expert，您應該來分享一下寶貴的經驗，並與更多高手互相交流；如果您還沒開始用Google Cloud Platform，那麼您應該馬上來聽聽我們是怎麼使用Google
          Cloud的！
        </p>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</header>
{% endblock %}


{% block content %}

<!-- /.item -->
<div class="item content" id="content_section2">

  <div class="container">

    <div class="row">

      <div class="col-md-6">

        <div class="editContent" data-selector="Footers" style="outline: none; cursor: default;"><h3>Google Cloud
          Platform User Group (GCPUG)</h3>

          <p>
            GCUPG主分支來自於日本地區，我們是群聚喜好Google雲端服務的非營利組織，希望能夠跟開發者們與雲端服務使用者分享Google雲端的好用服務，也希望激發開發者在Google雲端的火花。
            <br/><br/>我們延續日本工程師的熱情，在台灣地區組織屬於台灣的User Group，希望跨越國際、語言的障礙，讓台灣的工程師可以認識Google雲端。我們分享，也希望下一個分享的就是您！
          </p></div>
        <!-- /.editContent -->

      </div>
      <!-- ./col-md-6 -->

      <div class="col-md-6">

        <br>

        <div class="videoWrapper">
          <img src="/public/images/gcpug-pic2.png" width="80%"/>

        </div>

      </div>
      <!-- /.col-md-6 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>
<!-- /.item -->


<div class="footerWrapper" id="footer2">

  <div class="item footer bottom-menu">

    <div class="container">
      <div class="row">
        <div class="col-md-2 navbar-brand">
          <a class="" href="#"><img src="/public/images/icons/brush.svg" class="small"></a>
        </div>

        <div class="col-md-6">
          <ul class="bottom-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Support</a></li>
          </ul>
        </div>

        <div class="col-md-4">
          <a class="btn" style="background-color: #4565b7; color: #ffffff;" href="https://www.facebook.com/groups/GCPUG.TW" target="_blank">
            <span class="fa fa-facebook"></span> Facebook
          </a>
          <a class="btn" style="background-color: #d34836; color: #ffffff;" href="https://plus.google.com/u/0/communities/116100913832589966421" target="_blank">
            <span class="fa fa-google-plus"></span> Google Plus
          </a>
        </div>
      </div>
    </div>

  </div>
  <!-- /.item -->
</div>
<!-- /.footerWrapper -->

{% endblock %}
