{% extends "base.html" %}

{% block content %}

<!-- /.item -->
<div class="item content" id="content_section2">

  <div class="container">

    <div class="row">

      <div class="col-md-12">

        <div class="text-center" >
            <iframe src="https://events.google.com/io2016/embed" style="width:1000px;height:700px" frameborder="0" allowfullscreen></iframe>
        </div>
        <!-- /.editContent -->

      </div>
      <!-- ./col-md-12 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>
<!-- /.item -->


<div class="footerWrapper" id="footer2">

  <div class="item footer bottom-menu">

    <div class="container">
      <div class="row">
        <div class="col-md-2 navbar-brand">
          <a class="" href="#"><img src="/public/images/icons/brush.svg" class="small"></a>
        </div>

        <div class="col-md-6">
          <ul class="bottom-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Support</a></li>
          </ul>
        </div>

        <div class="col-md-4">
          <a class="btn" style="background-color: #4565b7; color: #ffffff;" href="https://www.facebook.com/groups/GCPUG.TW" target="_blank">
            <span class="fa fa-facebook"></span> Facebook
          </a>
          <a class="btn" style="background-color: #d34836; color: #ffffff;" href="https://plus.google.com/u/0/communities/116100913832589966421" target="_blank">
            <span class="fa fa-google-plus"></span> Google Plus
          </a>
        </div>
      </div>
    </div>

  </div>
  <!-- /.item -->
</div>
<!-- /.footerWrapper -->

{% endblock %}
